---
import type { BlogPost } from "../../service/structure/blog-structure";
import BlogDetail from "./BlogDetail.astro";

const { blogPosts } = Astro.props;

// console.log(blogPosts)
---

<div class="space-y-6">
  {blogPosts.map((post: BlogPost) => <BlogDetail post={post} />)}
</div>

